<div class="row ml-5 mr-5 mt-5 justify-content-center">
  <div class="col-3">
    <h3 style="margin: 0px !important;align-self: center !important;">Додади нов фактура</h3>
  </div>
  <div class="col-1">
    <a class="btn btn-lg" (click)="newInvoice()">
      <span>+</span>
    </a>
  </div>
  <div class="col-8"></div>
  <div class="col-12">
    <mat-divider class="mt-3"></mat-divider>
  </div>
</div>

<div class="row ml-5 mr-5 justify-content-center" *ngIf="newInvoiceFlag">
  <div class="col-3">
    <mat-form-field class="w-100" appearance="fill">
        <mat-label>Фирма</mat-label>
        <input matInput [formControl]="invoiceForm.controls['company']" required [readonly]="disableSelect">
    </mat-form-field>
  </div>
  <div class="col-3">
    <mat-form-field class="w-100" appearance="fill">
        <mat-label>Број на фактура</mat-label>
        <input matInput [formControl]="invoiceForm.controls['invoiceNr']" required [readonly]="disableSelect">
    </mat-form-field>
  </div>
  <div class="col-3">
    <mat-form-field  class="w-100" appearance="fill">
      <mat-label>Датум на издавање</mat-label>
      <input matInput [matDatepicker]="issued" [formControl]="invoiceForm.controls['dateIssued']" required [disabled]="disableSelect">
      <mat-datepicker-toggle matSuffix [for]="issued"></mat-datepicker-toggle>
      <mat-datepicker #issued></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="col-3">
    <mat-form-field class="w-100" appearance="fill">
      <mat-label>Датум на плаќање</mat-label>
      <input matInput [matDatepicker]="dateforpayment" [formControl]="invoiceForm.controls['deadline']" required [disabled]="disableSelect">
      <mat-datepicker-toggle matSuffix [for]="dateforpayment"></mat-datepicker-toggle>
      <mat-datepicker #dateforpayment></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="col-3">
    <mat-form-field class="w-100" appearance="fill">
        <mat-label>Износ</mat-label>
        <input matInput type="number" [formControl]="invoiceForm.controls['price']" required [readonly]="disableSelect">
    </mat-form-field>
  </div>
  <div class="col-3">
    <mat-form-field class="w-100" appearance="fill">
      <mat-label>Статус на фактура</mat-label>
      <mat-select required [formControl]="invoiceForm.controls['status']" [disabled]="disableSelect">
        <mat-option value="Платена">Платена</mat-option>
        <mat-option value="Неплатена">Неплатена</mat-option>
     </mat-select>
    </mat-form-field>
  </div>
  <div class="col-6 text-right">
    <a class="btn btn-lg"  *ngIf="saveNewInvoiceBtn" (click)="saveNewInvoice()">
        <span>Зачувај</span>
    </a>
    <a class="btn btn-lg"  *ngIf="!saveNewInvoiceBtn" (click)="updateInvoiceStatus()">
      <span>Промени во платена</span>
  </a>
  </div>
</div>
<div class="row ml-5 mr-5 justify-content-center" *ngIf="showItems">
  <div class="col-12" *ngIf="showItemsAdd">
    <h3>Додади продукти</h3>
  </div>
  <div class="col-3" *ngIf="showItemsAdd">
    <mat-form-field class="w-100" appearance="fill">
      <mat-label>Продукт</mat-label>
      <mat-select required [formControl]="invoiceItemForm.controls['product']">
        <mat-option *ngFor="let result of allStockList" [value]="result.idProduct.idProduct">{{result.idProduct.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-3" *ngIf="showItemsAdd">
    <mat-form-field class="w-100" appearance="fill">
      <mat-label>Количина</mat-label>
      <input matInput type="number" [formControl]="invoiceItemForm.controls['quantity']" required>
    </mat-form-field>
  </div>
  <div class="col-3" *ngIf="showItemsAdd">
    <mat-form-field class="w-100" appearance="fill">
      <mat-label>Цена</mat-label>
      <input matInput type="number" [formControl]="invoiceItemForm.controls['price']" required>
    </mat-form-field>
  </div>
  <div class="col-1" style="align-self: center;" *ngIf="showItemsAdd">
    <a class="btn btn-lg" (click)="add()">
      <span>+</span>
    </a>
  </div>
  <div class="col-10">
    <table class="table">
      <thead>
        <tr class="text-center">
          <th scope="col">#</th>
          <th scope="col">Продукт</th>
          <th scope="col">Количина</th>
          <th scope="col">Цена</th>
        </tr>
      </thead>
      <tbody>
        <tr class="text-center"  *ngFor="let result of invoiceItemList; let i = index">
          <th scope="row">{{i+1}}</th>
          <td>{{result.idProduct.name}}</td>
          <td>{{result.quantity}}</td>
          <td>{{result.price}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row ml-5 mr-5 mb-5 mt-3 justify-content-center">
      <div class="col-12">
        <h3>Преглед на сите фактури</h3>
      </div>
      <table class="table">
        <thead id="test">
          <tr>
            <th scope="col">Број на фактура</th>
            <th scope="col">Фирма</th>
            <th scope="col">Датум на издавање</th>
            <th scope="col">Датум на доспевање</th>
            <th scope="col">Сума</th>
            <th scope="col">Статус</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let result of allInvoiceList" class="text-center" (click)="getInvFromTable(result.name)">
            <td>{{result.name}}</td>
            <td>{{result.companyName}}</td>
            <td>{{result.dateInsert}}</td>
            <td>{{result.deadline}}</td>
            <td>{{result.price}}</td>
            <td>{{result.status}}</td>
          </tr>
        </tbody>
      </table>
</div>


