<div class="row ml-5 mr-5 mt-5 justify-content-center">
    <div class="col-3" style="display: inline-flex;">
      <h3 style="margin: 0px !important;align-self: center !important;">Подесување</h3>
    </div>
    <div class="col-1">
    </div>
    <div class="col-8"></div>
    <div class="col-12">
        <mat-divider class="mt-3"></mat-divider>
    </div>
</div>

<div class="row ml-5 mr-5 mt-4">
    <div class="col-12" style="display: inline-flex;">
        <h3 style="margin: 0px !important;align-self: center !important;">Лични податоци</h3>
    </div>
    <div class="col-3">
        <mat-form-field class="w-100" appearance="fill">
            <mat-label>Име</mat-label>
            <input matInput required [formControl]="settingsForm.controls['name']">
        </mat-form-field>
    </div>
    <div class="col-3">
        <mat-form-field class="w-100" appearance="fill">
            <mat-label>Презиме</mat-label>
            <input matInput required [formControl]="settingsForm.controls['surname']">
        </mat-form-field>
    </div>
    <div class="col-3">
        <mat-form-field class="w-100" appearance="fill">
            <mat-label>Емаил</mat-label>
            <input matInput required [formControl]="settingsForm.controls['email']">
        </mat-form-field>
    </div>
    <div class="col-3">
        <mat-form-field class="w-100" appearance="fill">
            <mat-label>Мобилен</mat-label>
            <input matInput required [formControl]="settingsForm.controls['mobile']">
        </mat-form-field>
    </div>
    <div class="col-12 text-right">
        <a class="btn btn-lg" (click)="savePersonalInfo()">
          <span>Зачувај лични податоци</span>
        </a>
    </div>
</div>

<div class="row ml-5 mr-5 mt-4">
    <div class="col-12" style="display: inline-flex;">
        <h3 style="margin: 0px !important;align-self: center !important;">Лимит за известување за испраќање пораки</h3>
    </div>
</div>

<div class="row ml-5 mr-5 mt-3">
    <div class="col-4">
        <mat-form-field class="w-100" appearance="fill">
            <mat-label>Продукти</mat-label>
            <mat-select required [(value)]="selectedPiece">
              <mat-option value="Продукти" selected>Продукти</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="col-4">
        <mat-form-field class="w-100" appearance="fill">
            <mat-label>Лимит</mat-label>
            <input type="number" matInput required [formControl]="settingsForm.controls['limitPiece']">
    </mat-form-field>
    </div>  
</div>
<div class="row ml-5 mr-5 ">
    <div class="col-4">
        <mat-form-field class="w-100" appearance="fill">
            <mat-label>Денови за факутра</mat-label>
            <mat-select required [(value)]="selectedGr">
              <mat-option value="Денови за фактура" selected>Денови</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="col-4">
        <mat-form-field class="w-100" appearance="fill">
            <mat-label>Лимит</mat-label>
            <input type="number" matInput required [formControl]="settingsForm.controls['limitDays']">
        </mat-form-field>
    </div>  
    <div class="col-4 text-right">
        <a class="btn btn-lg" (click)="saveLimit()">
          <span>Зачувај лимит</span>
        </a>
    </div>
</div>

<div class="row ml-5 mr-5 mt-4">
    <div class="col-12" style="display: inline-flex;">
        <h3 style="margin: 0px !important;align-self: center !important;">Подесување за почеток и крај на смени</h3>
    </div>
</div>
<div class="row ml-5 mr-5 mt-3">
    <div class="col-4">
        <mat-form-field class="w-100" appearance="fill">
            <mat-label>Прва</mat-label>
            <mat-select required [(value)]="selectedFirst">
              <mat-option value="Прва" selected>Прва</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="col-4">
        <mat-form-field class="w-100" appearance="fill">
            <mat-label>Од</mat-label>
            <input matInput type="time" required [formControl]="settingsForm.controls['firstShiftStart']">
        </mat-form-field>
    </div>
</div>
<div class="row ml-5 mr-5 ">
    <div class="col-4">
        <mat-form-field class="w-100" appearance="fill">
            <mat-label>Втора</mat-label>
            <mat-select required [(value)]="selectedSecond">
              <mat-option value="Втора" selected>Втора</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="col-4">
        <mat-form-field class="w-100" appearance="fill">
            <mat-label>Од</mat-label>
            <input matInput type="time" required [formControl]="settingsForm.controls['secondShiftStart']">
        </mat-form-field>
    </div>
    <div class="col-4 text-right">
        <a class="btn btn-lg" (click)="saveShift()">
          <span>Зачувај почеток на смени</span>
        </a>
    </div>
</div>
