<div class="row">
    <div class="col-1 text-center" style="align-self:center">
        <img class="ml-3" src="assets/icon/icon15.png"/>
    </div>
    <div class="col-1 text-left" style="align-self:center">
        <h5 class="text-white m-0">{{companyName}}</h5>
    </div>
    <div class="col-8 text-center text-white" style="align-self:center">
        <h5 class="m-0">{{ time | date: 'dd-MMM-yyyy hh:mm:ss a' }}</h5>
    </div>
    <div class="col-2 text-center text-white" style="align-self:center">
        <h5 class="m-0 mr-3">{{userEmail}}</h5>
    </div>
</div>
