<div class="row m-5 justify-content-center">
    <div class="col-12">
        <h3 style="margin: 0px !important;align-self: center !important;">Известување</h3>
        <mat-divider class="mt-3"></mat-divider>
    </div>
    <div class="col-12 mt-4">
        <h4 style="margin: 0px !important;align-self: center !important;">Продукти</h4>
    </div>
    <div class="col-12 mt-2">
        <table class="table">
            <thead id="test">
                <tr class="text-center">
                    <th scope="col">#</th>
                    <th scope="col">Продукт</th>
                    <th scope="col">Преостаната количина</th>
                </tr>
            </thead>
            <tbody>
                <tr class="text-center" *ngFor="let result of limitList; let i = index">
                    <th scope="row">{{i+1}}</th>
                    <td>{{result.idProduct.name}}</td>
                    <td>{{result.quantity}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-12 mt-3">
        <h4 style="margin: 0px !important;align-self: center !important;">Фактури</h4>
    </div>
    <div class="col-12 mt-2">
        <table class="table">
            <thead id="test">
                <tr class="text-center">
                    <th scope="col">#</th>
                    <th scope="col">Фирма</th>
                    <th scope="col">Датум на издавање</th>
                    <th scope="col">Датум на доспевање</th>
                    <th scope="col">Сума</th>
                    <th scope="col">Статус</th>
                </tr>
            </thead>
            <tbody>
                <tr class="text-center" *ngFor="let result of invoiceInfo; let i = index">invoiceInfo
                    <th scope="row">{{result.Name}}</th>
                    <td>{{result.CompanyName}}</td>
                    <td>{{result.DateInsert}}</td>
                    <td>{{result.Deadline}}</td>
                    <td>{{result.Price}}</td>
                    <td>{{result.Status}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>