<div class="row justify-content-center" style="height: 100% !important;">
    <div class="custom-3 m-1" (click)="getStat()">
        <div class="row h-100 justify-content-center">
            <div class="col-12 h-25 second text-center">
            </div>
            <div class="col-12 h-50 second text-center">
                <img src="assets/icon/icon3.png">
            </div>
            <div class="col-12 h-8 bg-dark text-white text-center"></div>
            <div class="col-12 h-17 bg-dark text-white text-center">Статистика</div>
        </div>
    </div>
    <div class="custom-3 m-1" (click)="getInv()">
        <div class="row h-100 justify-content-center">
            <div class="col-12 h-25 second text-center">
            </div>
            <div class="col-12 h-50 second text-center">
                <img src="assets/icon/icon8.png">
            </div>
            <div class="col-12 h-8 bg-dark text-white text-center"></div>
            <div class="col-12 h-17 bg-dark text-white text-center">Фактури</div>
        </div>
    </div>
    <div class="custom-3 m-1" (click)="getReport()">
        <div class="row h-100 justify-content-center" >
            <div class="col-12 h-25 second text-center">
            </div>
            <div class="col-12 h-50 second text-center">
                <img src="assets/icon/icon11.png">
            </div>
            <div class="col-12 h-8 bg-dark text-white text-center"></div>
            <div class="col-12 h-17 bg-dark text-white text-center">Пописни извештаи</div>
        </div>
    </div>
    <div class="custom-3 m-1" (click)="getStock()">
        <div class="row h-100 justify-content-center">
            <div class="col-12 h-25 third text-center">
            </div>
            <div class="col-12 h-50 third text-center">
                <img src="assets/icon/icon6.png">
            </div>
            <div class="col-12 h-8 bg-dark text-white text-center"></div>
            <div class="col-12 h-17 bg-dark text-white text-center">Залиха</div>
        </div>
    </div>
    <div class="custom-3 m-1" (click)="getMenu()">
        <div class="row h-100 justify-content-center">
            <div class="col-12 h-25 third text-center">
            </div>
            <div class="col-12 h-50 third text-center">
                <img src="assets/icon/icon7.png">
            </div>
            <div class="col-12 h-8 bg-dark text-white text-center"></div>
            <div class="col-12 h-17 bg-dark text-white text-center">Мени</div>
        </div>
    </div>
    <div class="custom-3 m-1" (click)="getNorms()">
        <div class="row h-100 justify-content-center">
            <div class="col-12 h-25 third text-center">
            </div>
            <div class="col-12 h-50 third text-center">
                <img src="assets/icon/icon13.png">
            </div>
            <div class="col-12 h-8 bg-dark text-white text-center"></div>
            <div class="col-12 h-17 bg-dark text-white text-center">Нормативи</div>
        </div>
    </div>
    <div class="custom-3 m-1" (click)="getEmp()">
        <div class="row h-100 justify-content-center">
            <div class="col-12 h-25 tehnical text-center">
            </div>
            <div class="col-12 h-50 tehnical text-center">
                <img src="assets/icon/icon2.png">
            </div>
            <div class="col-12 h-8 bg-dark text-white text-center"></div>
            <div class="col-12 h-17 bg-dark text-white text-center">Вработени</div>
        </div>
    </div>
    <div class="custom-3 m-1" (click)="getSettings()">
        <div class="row h-100 justify-content-center">
            <div class="col-12 h-25 last text-center">
            </div>
            <div class="col-12 h-50 last text-center">
                <img src="assets/icon/icon9.png">
            </div>
            <div class="col-12 h-8 bg-dark text-white text-center"></div>
            <div class="col-12 h-17 bg-dark text-white text-center">Подесување</div>
        </div>
    </div>
    <div class="custom-3 m-1" (click)="logout()">
        <div class="row h-100 justify-content-center">
            <div class="col-12 h-25 last text-center">
            </div>
            <div class="col-12 h-50 last text-center">
                <img src="assets/icon/icon10.png">
            </div>
            <div class="col-12 h-8 bg-dark text-white text-center"></div>
            <div class="col-12 h-17 bg-dark text-white text-center">Одјава</div>
        </div>
    </div>
</div>
