<table class="w-100">
  <tr (click)="getEmp()">
    <td class="w-15 tehnical text-center">
        <img src="assets/icon/icon2.png">
    </td>
    <td class="w-85 text-white pl-4"> Вработени </td>
  </tr>
</table>

<table class="w-100 mt-2">
  <tr (click)="getStat()">
    <td class="w-15 second text-center">
      <img src="assets/icon/icon3.png">
    </td>
    <td class="w-85 text-white pl-4">Статистика</td>
  </tr>
  <tr (click)="getInv()">
    <td class="w-15 second text-center">
      <img src="assets/icon/icon8.png">
    </td>
    <td class="w-85 text-white pl-4">Фактури</td>
  </tr>
  <tr (click)="getReport()">
    <td class="w-15 second text-center">
      <img src="assets/icon/icon11.png">
    </td>
    <td class="w-85 text-white pl-4">Пописни извештаи</td>
  </tr>
  <tr (click)="getBills()">
    <td class="w-15 second text-center">
      <img src="assets/icon/icon5.png">
    </td>
    <td class="w-85 text-white pl-4">Сметки</td>
  </tr>
  <tr (click)="getNotification()">
    <td class="w-15 second text-center">
      <img src="assets/icon/icon14.png">
    </td>
    <td class="w-85 text-white pl-4">Известување</td>
  </tr>
</table>
<table class="w-100 mt-2">
  <tr (click)="getStock()">
    <td class="w-15 third text-center">
      <img src="assets/icon/icon6.png">
    </td>
    <td class="w-85 text-white pl-4">Залиха</td>
  </tr>
  <tr (click)="getMenu()">
    <td class="w-15 third text-center ">
      <img src="assets/icon/icon7.png">
    </td>
    <td class="w-85 text-white pl-4">Мени</td>
  </tr>
  <tr (click)="getNorms()">
    <td class="w-15 third text-center">
      <img src="assets/icon/icon13.png">
    </td>
    <td class="w-85 text-white pl-4">Нормативи</td>
  </tr>
</table>
<table class="w-100 mt-4 mb-2">
  <tr (click)="getSettings()">
    <td class="w-15 last text-center">
      <img src="assets/icon/icon9.png">
    </td>
    <td class="w-85 text-white pl-4">Подесување</td>
  </tr>
  <tr (click)="logout()">
    <td class="w-15 last text-center">
      <img src="assets/icon/icon10.png">
    </td>
    <td class="w-85 text-white pl-4">Одјава</td>
  </tr>
</table>